.calculator-page {
  display: flex;
  gap: 80px; 
  padding: 40px 20px;
  justify-content: center;
  align-items: flex-start;
  background: #0b0f1a;
  color: #fff;
  min-height: 100vh;
  flex-wrap: wrap;
}

.calculator-form {
  max-width: 480px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.calculator-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #f0b90b;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input-row select,
.input-row input {
  width: 120px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  outline: none;
  flex: 1;
  background: #1a1a2e;
  color: #fff;
}

.remove-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 10px;
  cursor: pointer;
}

.add-btn {
  background: #7927ff;
  border: none;
  padding: 10px;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 12px;
}

.total-value {
  margin-top: 10px;
  font-size: 18px;
  color: #f0f0f0;
}

.calculator-chart {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.04);
  border-radius: 12px;
  padding: 20px;
}

.calculator-chart p {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  color: darkorchid;
}

.chart-placeholder {
  color: #ccc;
  text-align: center;
  padding: 40px;
}

.download-btn {
  margin-top: 20px;
  padding: 10px 16px;
  background-color: #00d084;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s ease;
}

.download-btn:hover {
  background-color: #00b274;
}
.inline-container{
  display: flex;
  
}

@media (max-width: 768px) {
  .calculator-page {
    flex-direction: column;
    align-items: stretch;
    gap: 32px;
  }

  .calculator-form {
    width: 100%;
    gap: 12px;
  }

  .input-row {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .input-row select,
  .input-row input {
    padding: 8px;
    font-size: 14px;
  }

  .remove-btn {
    align-self: flex-end;
    padding: 6px 10px;
    font-size: 14px;
  }

  .add-btn {
    padding: 10px;
    font-size: 15px;
  }

  .calculator-chart {
    width: 100%;
    margin-top: 0;
    padding: 16px;
  }

  .calculator-chart p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .download-btn {
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }
  .inline-container{
    display: flex;
    justify-content: space-between;
  }
}
